@font-face {
    font-family:font;
    src: url(./Rejouice-Headline.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 243, 240);
}
 #nav{
    width: 100%;
    height: 100px;
    background-color: rgb(245, 243, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5px;
}
#nav h3{
    font-size: 16px;
    border: 1px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
}
#nav button{
    font-size: 16px;
    border: 1px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}


#nav-part3.btn{
    color: rgb(0, 0, 0);
    border: none;
} 

 #main>h1{
    font-size: 170px;
    font-family: font;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 900px;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
 }   
 
 img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
 } */

 #img1{
    transform: translate(-50%,-50%) rotate(-30deg);
 }
 #img2{
    transform: translate(-50%,-50%) rotate(-20deg);
 }
 #img4{
    transform: translate(-50%,-50%) rotate(-30deg);
 }
 #btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: small;
 } 
